@model DML.Generator.Web.Models.TableViewModel

@{
    ViewBag.Title = "EditTable";
}

@using (Html.BeginForm())
{
    <div class ="bluebox">
    <h2>Edit Table</h2>
    @if (TempData["message"] != null && !string.IsNullOrEmpty(TempData["message"].ToString()))
    {
        <div class = "tempMessage">
           @TempData["message"]
        </div>
    }
    <div class = "input">
        @Html.LabelFor(model => model.TableName)
        @if (!Model.IsTableExist)
        {
            @Html.TextBoxFor(model => model.TableName)
            @Html.ValidationMessageFor(model => model.TableName)
            <input type="submit" name="Get" value="Get" class="button medium green"/>
        }
        else
        { 
            @Html.DisplayFor(model => model.TableName)
            @Html.HiddenFor(model => model.TableName)
        }
    </div>

    @if (Model.IsTableExist)
    {
        
        <div class = "input">
            @Html.LabelFor(model => model.HostDMLName)
            @if (!Model.IsGroupedTable)
            {
                @Html.TextBoxFor(model => model.HostDMLName)
                @Html.ValidationMessageFor(model => model.HostDMLName)
            }
            else
            { 
                <span class="detailLabel">Host DML grouped based on Scheme ID.</span>
            }
            @Html.HiddenFor(m => m.IsGroupedTable)
        </div>
        
        <div class="input">
            @Html.LabelFor(model => model.FEDMLName)
            @Html.TextBoxFor(model => model.FEDMLName)
            @Html.ValidationMessageFor(model => model.FEDMLName)
        </div>
       <div class = "input">
            <input type="submit" name="EditTable" value="Edit" class="button medium green"/>
            @Html.ActionLink("Cancel", "EditTable", "Configuration", new { @class = "button medium green" })
        </div>
    }
    </div>
}
 <script type="text/javascript">
     $(document).ready(function () {
         $('ul#saturday').children('li:nth-child(3)').addClass('selectedMenu');
         $('ul#saturday').children('li:nth-child(3)').children('a').css('color', '#FFF');
     });
     </script>
